.p-recognize-header{
	height: 36px;
}
.p-recognize-parent{
	padding: 0;
}
.p-recognize-parent li .title{
	padding: 5px;
	background: #C5C5C5;
}
.p-recognize-child{
	padding:0;
}

.p-recognize-child li.ctitle{
	padding:5px;
	cursor:pointer;
}
.rec-list-cont{
	padding: 5px;
}