.p-songs {
  .p-songs-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;

    visibility: hidden;
  }

  .p-songs-song {
    overflow: hidden;
    height: 64px;
  }

  .p-songs-song-image {
    max-width: 64px;
    max-height: 64px;
  }

  .p-songs-song-image-td {
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }

  .p-songs-song-data {
    vertical-align: top;
    padding: 0 8px;
  }

  .p-songs-song-delete {
    display: block;
    position: absolute;
    right: 2px;
    bottom: -5px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    vertical-align: middle;
    color: #ddd;
  }

  .p-songs-song-delete:hover {
    color: #888;
    transition: all 0.3s;
  }

  .p-songs-uploads {
    margin-bottom: 21px;
  }

  .p-songs-upload {
    border-bottom: 1px solid #ccc;
  }
}
