* {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', 'Roboto-Light','Roboto Light',RobotoLight,sans-serif-light,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  background-color: #f5f5f5;
}

table {
  table-layout: fixed;
}

a {
  text-decoration: none;
  color: #1f1f1f;
}

.page {
  padding-top: 55px;
  padding-bottom: 65px;
}

.m {
  margin: 8px;
}

.p {
  padding: 8px;
}

.block {
  display: block;
}


.card {
  @extend .m;
  box-shadow: 0 3px 5px rgba(0,0,0,0.35);
  border-radius: 3px;
  background-color: #fff;
}

.card-header {
  @extend .p;
  border-bottom: 1px solid #ccc;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.icon-spinner {
  display: inline-block;
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
}
