<template name="player">
  <div class="c-player">
    {{#if path}}
        <audio class="c-player-native" src="{{path}}" autoplay="" controls="">
          Your browser does not support player.
        </audio>

      <div class="c-player-bar">
        <div class="c-player-bar-progress" style="width: {{progress}}%;"></div>
        <div class="c-player-bar-buffer" style="width: {{buffer}}%;"></div>
      </div>

      <table class="c-player-song full-width">
        <tr>
          <td class="c-player-image-td">
            <div class="c-player-image-wrapper">
              <img src="{{image}}" class="c-player-image" />
            </div>
          </td>
          <td class="c-player-details-td">
            <span class="c-player-details-title block ellipsis">{{title}}</span>
            <span class="c-player-details-subtitle tsize-small block">
               {{album}} <b>·</b> {{artist}}
            </span>
          </td>
          <td class="c-player-controls-td tsize-large">
            {{#if statusIs 'loading'}}
              <a class="c-player-control">
                <i class="icon-spinner"></i>
              </a>
            {{/if}}

            {{#if statusIs 'playing'}}
              <a class="c-player-control-pause" href="javascript:;">
                <i class="icon-pause"></i>
              </a>
            {{/if}}

            {{#if statusIs 'paused'}}
              <a class="c-player-control-play" href="javascript:;">
                <i class="icon-play"></i>
              </a>
            {{/if}}

            {{#if statusIs 'loaded'}}
              <a class="c-player-control-play" href="javascript:;">
                <i class="icon-play"></i>
              </a>
            {{/if}}
            <!--i class="icon-last"></i -->
          </td>
        </tr>
      </table>
    {{else}}
      <div class="c-player-nosong">
        <i class="icon-sad"></i>
        No song selected yet...
      </div>
    {{/if}}
  </div>
</template>
