.p-browse-list{
	list-style-type: none;
	margin: 10px;
	padding: 0;
}
.p-browse-item{
	margin: 10px;
	border: 1px solid rgb(226, 226, 226);
	border-radius: 5px;
	box-shadow: 1px 1px 0px #818181;
	cursor: pointer;
	background: #FFF;
}
.p-item-pic-cont{
	width: 100px;
}
.p-browse-item-data{
	vertical-align: top;
	padding: 10px;
}
.item-pic-small{
	height: 115px;
	width: 80px;
	padding: 5px;
}
.p-browse-fk-logo {
	display: inline-block;
	height: 36px;
	margin-right: 6px;
	float: left;
	vertical-align: middle;
}
.p-browse-search-query-wrapper {
	display: inline-block;
	width: 50%;
	margin-top: 20px;
	text-align: center;
}
.p-browse-query {
	font-size: 20px;
}

.p-browse-query-cancel {
	font-size: 12px;
	display: inline-block;
	padding: 3px;

	.icon-cancel-circle {
		color: #ccc;
	}

}
.p-browse-menu {
	display: inline-block;
	float: right;
	margin-top: 22px;
	margin-right: 20px;
}
.p-browse-header {
	line-height: 36px;
}
.p-browse-item-data {
	.title {
		font-size: 16px;
		width: 150px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		margin-bottom: 5px;
		font-weight: bold;
	}
	.sub-title {
		font-size: 14px;
		margin-bottom: 5px;
		width: 150px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		margin-bottom: 5px;
	}
	.price {
		font-size: 16px;
		width: 150px;
		margin-bottom: 5px;
		.selling-price {
			color: #c00;
			font-weight: bold;
		}
	}
}

.p-browse-find {
	font-size: 10px;
	color: #ccc;
}

.p-browse-categories {
	padding: 10px;
	margin-bottom: 10px;

	.p-browse-category {
		display: inline-block;
		width: 30%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 5px;
	}
}
