.p-browse-list{
	list-style-type: none;
	margin: 10px;
	padding: 0;
}
.p-browse-item{
	padding:10px;
}
.item-pic-small{
	height: 100px;
	width: 100px;
	padding: 5px;
}
.p-browse-fk-logo {
	height: 36px;
	margin-right: 20px;
}
.p-browse-seach-query {
	display: inline-block;
	margin-top: 20px;
	padding-left: 5px;
	padding-right: 10px;
	border: 1px solid #000;
	border-radius: 3px;
	max-width: 60%;
	.query {		
		padding-right: 20px;
		float: left;
	}
	.cancel {
		color: #c00;		
	}
}
.p-browse-menu {
	display: inline-block;
	float: right;
	margin-top: 22px;
	margin-right: 20px;
}
